* {
    box-sizing: border-box;
}
main {
    padding: 30px 0;
}
section {
    min-height: 50px;
}
section:not(:last-child) {
    margin-bottom: 30px;
}
.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 15px;
}
.circle {
    border-radius: 50%;
    border: 1px solid rgb(73, 70, 70);
    background-color: aquamarine;
}